body
{
	background:#0177B7;
	font-family: poppins;
}
.wrapper
{
	width: 1170px;
	margin:2% auto;
}
.section-header
{
	text-align: center;
	margin-bottom: 30px;
}
.section-header h2{
	text-transform: uppercase;
	margin: 0;
	color: #fff;
	font-size: 45px;
	letter-spacing: 5px;
}
.board-member
{
	 width:29%;
	height: auto;
	float: left;
	box-shadow: 5px 5px 15px #000;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	margin:0 5px;
	background:#005888;  
}
.board-member img{
	width: 100%;
}
.board-member h3{
	margin:0;
	text-transform: uppercase;
	font-size: 25px;
	color: #fff; 
}
.board-member p{
	color: #fff;
	font-size: 20px;
}
.board-member:before
{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 4px;
	width: 100%;
	border-bottom:4px solid transparent; 
	border-left:4px solid transparent;
	box-sizing: border-box;
	transform: translateX(100%);
}
.board-member:after
{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 4px;
	width: 100%;
	border-top:4px solid transparent; 
	border-right:4px solid transparent;
	box-sizing: border-box;
	transform: translateX(-100%);
}
.board-member:hover:before
{
	border-color:#d04f81;
	height:100%;
	transform:translateX(0);
	transition .3s transform linear,.3s height linear .3s;
}
.board-member:hover:after
{
	border-color:#d04f81;
	height:100%;
	transform:translateX(0);
	transition .3s transform linear,.3s height linear .5s;
}
